

/*--------------------------------------------------------------------------------------------------------------------------*/
/*- RESET - Courtesy of Eric Meyer's CSS Reset Awesomeness: http://meyerweb.com/eric/thoughts/2007/05/01/reset-reloaded/ ---*/
/*--------------------------------------------------------------------------------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike,  sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td{
margin: 0; padding: 0; border: 0; outline: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {outline: 0;}
body {line-height: 1; color: black; background: white;}
ol, ul {list-style: none;}
/* tables still need 'cellspacing="0"' in the markup */
table {border-collapse: separate;border-spacing: 0;}
caption, th, td {text-align: left;font-weight: normal;}
blockquote:before, blockquote:after,
q:before, q:after {content: "";}
blockquote, q {quotes: "" "";}


/*--*********************************************************************************--------*/
/*- IE6 WARNING - BEFORE WE DO ANYTHING!! WE NEED TO TELL EVERYONE TO GET RID OF IE 6 -------*/
/*-------------------------------------------------------------------------------------------*/
.no_ie{clear:both; border-bottom: 2px solid #a60000; background: #ffcece; color: #000; font-weight: bold; padding: 10px; text-align:center; }
	.no_ie h1{font-size: 22px; color: #a60000;}
	.no_ie p{margin: 0px; padding: 0px;}
	.no_ie a{color: #a60000; text-decoration: underline;}
	.no_ie a:hover{color: #000;}


/*-------------------------------------------------------------------------------------------*/
/*- SETUP STD CLASSES -----------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------*/
body{font-size: 15px; font-family: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;}

h1{margin: 0px; padding: 1px 0px 10px 0px;}
h2{margin: 0px; padding: 1px 0px 10px 0px;}
h3{margin: 0px; padding: 1px 0px 10px 0px;}
h4{margin: 0px; padding: 1px 0px 10px 0px;}
h5{margin: 0px; padding: 1px 0px 10px 0px;}
h6{margin: 0px; padding: 1px 0px 10px 0px;}

p{line-height: 24px; margin: 0px 0px 15px;}
blockquote, blockquote p{line-height: 24px; margin: 0px 0px 15px;}

form{}
label{}
textarea, input{}
input[type=radio]{}
input[type=checkbox]{}
input[type=image]{}
input[type=button]{}


/*-------------------------------------------------------------------------------------------*/
/*- GLOBAL CLASSES --------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------*/
/*--- Links ---*/
a.std_link, a{text-decoration: none;}
a:active{}
a:hover{}
	
/*--- Layouts ---*/
.no_bg{background-image: none;}
.clearboth{clear: both}
.floatleft{float: left;}
.floatright{float: right;}
.floatright{float:right;}
.no_display{display: none;}
.alignleft{float: left; margin: 0px 20px 10px 0px;}
.alignright{float: right; margin: 0px 0px 10px 20px;}


/*-------------------------------------------------------------------------------------------*/
/*- GENERAL LAYOUT --------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------*/

/**body{color: #111; background: #7DBAEA;}**/
body{color: #111; background: #708090;}

#container 
{
	text-align: center;	
}


.light-grey
{
	background-color: #D3D3D3;
}

.dark-grey
{
	background-color: #708090;
}

#header-container
{
	background-color: #D3D3D3;
	width: 980px;
	background-repeat:no-repeat;
	background-position:center;
	position:relative;
	margin: auto;
	text-align: left;	
	
}

#body-container {
	width: 980px;
	margin: auto;
}

#footer-container{
	width: 980px;
	margin: auto;
}

#about-container
{
	line-height: 24px; 
	font-size: 16px;
	margin-left: 40px;
	margin-right: 40px;
}
#about-container h1 {
	font-size: 24px;
	font-weight: bold;
}

#right-sidebar {
	float: right;
	width: 200px;
}


.container-header-dark-normal{clear: both; height: 20px; overflow: hidden;}
.container-header-dark-normal span{display: block; width: 20px; height: 20px; overflow: hidden;}

.header {
 	padding: 0px; margin: 0px;
	padding-left: 40px;
	height: 40px;
	margin: 10px 0 0;
	padding-top: 20px;
	line-height: 40px;
}

.header h1 {
	/**position: relative;**/
	/*width= 100px;*/
	font-size: 36px;
	/**padding-left: 40px;**/
}
.header .like {


}


.floater
{
	float:left;
}

.shaded_box
{
	float:left;
	margin:0 0 10px 10px;
	padding:20px;
	background:#ececec;
}



.header .generic-info {
	position: absolute;
	top: 0;
	right: 0;
	width: 200px;
	font-size: 20px;
	text-align: right;
	padding: 8px 0px 0px 0px;
	margin: 0px 0 0px 0px;
}

.header .generic-info .div{
	padding-bottom:0px;
	margin-bottom:0px;
}


.header-box {
	border: 2px solid black;
	z-index:2;
	position:relative;
	height: 60px;
	margin: 0 40px 0px 40px;
  	-moz-border-radius: 20px; 
	-webkit-border-radius: 20px;
	border-radius: 20px; /* future proofing */
	-khtml-border-radius: 20px; /* for old Konqueror browsers *p */ 
	/**background-color: #3C96DF;**/
	background-color: #7DBAEA;
	background-color: #9BE1FB;
	font-weight:bold; 
}

	.nav {
		margin:0;
		padding-top: 5px;
		/**margin-top: 5px;**/
		float:left;
		width:100%;
		font-size: 13pt;
	}

		.nav li {
			display:inline;
			padding-left: 10px;
			margin:0;
		}
		.nav a:link, 
		.nav a:visited {
			color:#000;
			padding:20px 40px 4px 20px;
		}


.device-selection {
	border: 1px solid black;
	margin: 60px;
	position:relative;
	height: 30px;
	width: 250px;
	padding-top: 10px;
	text-align: center;
	vertical-align: middle;
  	-moz-border-radius: 10px; 
	-webkit-border-radius: 10px;
	border-radius: 10px; /* future proofing */
	-khtml-border-radius: 10px; /* for old Konqueror browsers *p */ 
	background-color: #7DBAEA;
	background-color: #9BE1FB;
	font-size: 14pt;
}



.body-box {
	border: 2px solid black;
	position:relative;
	margin: 0 40px 0px 40px;
	padding-top: 20px;
	padding-left: 10px;
	padding-bottom: 20px;
	margin-bottom: 3px;
	margin-top: 3px;
  	-moz-border-radius: 20px; 
	-webkit-border-radius: 20px;
	border-radius: 20px; /* future proofing */
	-khtml-border-radius: 20px; /* for old Konqueror browsers *p */ 
	/**background-color: #7DBAEA;**/
	background-color: #DCE6ED;
	/*background-color: #E4F6F8;*/ 
	background-color: #FFFFFF;
	/**background-color: #C5EFFD;*/
}


/**************featured body **************/

.featured {
	border: 1px solid red;
	margin: 10px 10px 10px 10px;
  	-moz-border-radius: 10px; 
	-webkit-border-radius: 10px;
	border-radius: 10px; /* future proofing */
	-khtml-border-radius: 10px; /* for old Konqueror browsers *p */ 
	background-color: white;
}


.featured-image {
	float:left;
	margin: 10px 20px 30px 20px;
	/*width: 200px;*/
	width: 20%;
}

.featured-meta{
	margin: 20px 20px 20px 20px;
	float: left; 
	/*width: 400px; */
	width: 20%; 
	padding: 25px;
	font-size: 13pt;
}
.featured-meta h2{ font-weight:bold; font-size: 17pt };
.featured-meta h5{  font-size: 11pt; }

.featured-verify
{
	margin: 40px 20px 20px 20px;
	float:right;
	width: 30%;
	padding: 25px;
	background:#ececec;
	text-align:"center";

}
.fb-login {
	float:right;
	text-align:right;
	/**padding: 10px 10px 0 0;
	margin: 10px 10px 0 0;*/
	margin-top: 20px;
	padding-top: 20px;
}

/************main body ****************/


.post-body {
	/**width: 980px;**/
	float: left;
	
}


/* ------Sidebar properties */
.post-body .sidebar {float: left; width: 320px;}
	.post-body .sidebar img{float: left;  height: 200px; padding:10px 10px}

.post-body .content { 
	float: left;
	width: 500px;
	padding-left: 10px;
	padding-right: 30px;
	text-align: justify;
	position:relative;
	font-size: 11pt;
	line-height:15px;
}


.post-body .other-apps {
	width: 650px;
	padding-left: 10px;
	padding-right: 10px;
	text-align: justify;
	position:relative;


}

.curved-box {
	border: 2px solid black;
	padding: 10px 2px 10px 2px;
  	-moz-border-radius: 10px; 
	-webkit-border-radius: 10px;
	border-radius: 10px; /* future proofing */
	-khtml-border-radius: 10px; /* for old Konqueror browsers *p */ 
}

.download-app {
	text-align:center;
}
.download-app a{
 	text-color:black;
}


/**********previous posts *****************/
.previous-posts {
	float:left;
	text-align:center;
	font-size: smaller;
	width:100px;
	padding-left:30px;

}
.previous-posts img{float: left; width: 100px; height: 100px; padding:5px 10px}
.previous-posts a{float: left; width: 100px; padding:10px 10px}





/**************** user  *****************************/

.user-post-body {
	width: 980px;
	float: left;
	/* these are from body-box*/
	margin: 0 20px 0px 20px;
	padding-top: 20px;
	padding-left: 10px;
	padding-bottom: 20px;
	margin-bottom: 3px;
	margin-top: 3px;

}

.user-sidebar {float: left; width: 25%;}

.user-sidebar .section 
{
	border-bottom: 2px dotted black;
	font-size: 12pt;
	padding-top: 5px;
	padding-bottom: 10px;
	margin-bottom: 5px;
	padding-left: 2px;


}

.user-meta
{

}

.user-meta li {
	margin: 0;
	color: #339;
	font-weight: bold;
	padding: 5px 0 5px 0;
}
.pay-me
{
	padding: 5px 5px 5px 5px;
	margin: 5px 5px 5px 5px;
	text-align:center;
	font-size: 14pt;
	font-weight: bold;
	background-color: #9BE1FB;
}	
.read-apps
{
	padding: 5px 5px 5px 5px;
	margin: 5px 5px 5px 5px;
	text-align:center;
	font-size: 14pt;
	font-weight: bold;
	
}


.user-content { 
	float: left;
	width: 65%;
	text-align: justify;
	position:relative;
	font-size: 11pt;
	line-height:15px;
	margin: 0 0px 0px 20px;
}


.user-app-info
{
	font-size: 11pt;
	padding: 10px 10px 5px 2px;
	margin: 5px 10px 5px 2px;

	background:white;
	border: 2px solid black;
	float: left;
}
.user-app-image {
	margin: 10px 20px 0px 10px;
	float: left;
	/*width: 200px;*/
	height:100px;
}
	.user-app-image img{
		height: 80px;
	}

.user-app-meta{
	float:left; 
	width: 400px; 
	padding: 10px;
	font-size: 13pt;
}
	.user-app-meta .app-name {
		line-height:140%;
		font-size:14pt;
	}
	.user-app-meta div {
		line-height:120%;

	}
	.user-app-meta div span {
		float: left;
		width:200px;
	}









/*************footer **************/

.footer
{
	border: 2px solid black;
	position:relative;
	margin: 0 40px 0px 40px;
	padding-top: 20px;
	padding-bottom: 20px;
  	-moz-border-radius: 20px; 
	-webkit-border-radius: 20px;
	border-radius: 20px; /* future proofing */
	-khtml-border-radius: 20px; /* for old Konqueror browsers *p */ 
	background-color: #3C96DF;
	background-color: #9BE1FB;

}
	.footer .nav {
		margin:0;
		float:right;
		font-size: 11pt;
		text-align: right;
		position:relative;
	}

		.footer .nav li {
			display:inline;
			margin:0;
		}
		.footer .nav a:link, 
		.footer .nav a:visited {
			color:#000;
			padding:0px 10px 0px 20px;
		}

/*************** Popup ********************************/

#backgroundPopup {
	display:none;
	position:fixed;
	_position:absolute; /* hack for internet explorer 6*/
	height:100%;
	width:100%;
	top:0;
	left:0;
	background:#000000;
	border:1px solid #cecece;
	z-index:2;
}
#popupContact, #popupPaypal {
	display:none;
	position:fixed;
	_position:absolute; /* hack for internet explorer 6*/
	height:384px;
	width:408px;
	background:#FFFFFF;
	border:2px solid #cecece;
	z-index:3;
	padding:12px;
	font-size:13px;
}
#popupContact h1, #popupPaypal h1{
	text-align:left;
	color:#6FA5FD;
	font-size:22px;
	font-weight:700;
	border-bottom:1px dotted #D3D3D3;
	padding-bottom:2px;
	margin-bottom:20px;
}
#popupContactClose{
	font-size:14px;
	line-height:14px;
	right:6px;
	top:4px;
	position:absolute;
	color:#6fa5fd;
	font-weight:700;
	display:block;
}
#button{
	text-align:center;
	margin:100px;
}

#popupRefund {
	display:none;
	position:fixed;
	_position:absolute; /* hack for internet explorer 6*/
	height:384px;
	width:408px;
	background:#FFFFFF;
	border:2px solid #cecece;
	z-index:3;
	padding:12px;
	font-size:13px;
}
#popupRefund h1{
	text-align:left;
	color:#6FA5FD;
	font-size:22px;
	font-weight:700;
	border-bottom:1px dotted #D3D3D3;
	padding-bottom:2px;
	margin-bottom:20px;
}

/******************Button styles ***********/
/*Taken from http://www.filamentgroup.com/lab/styling_the_button_element_with_sliding_doors/ */
button { 
	border:0; 
	cursor:pointer; 
	font-weight:bold; 
	padding:0 20px 0 0; 
	text-align:center; 
}
button span { 
	position:relative; 
	display:block; 
	white-space:nowrap; 
	padding:0 0 0 20px; 
}

/*blue buttons*/
button.submitBtn { 
	  background:url(/images/btn_blue_right.gif) right no-repeat; 
	    font-size:1.3em; 
}
button.submitBtn span { 
	height:50px; 
	line-height:50px;
	background:url(/images/btn_blue_left.gif) left no-repeat;
	color:#fff; 
}
button.submitBtn:hover {
	background:url(/images/btn_blue_right_hover.gif) right no-repeat; 
}
button.submitBtn:hover span {
	background:url(/images/btn_blue_left_hover.gif) left no-repeat; 
}













/*-----------------------------------------------------------------------------------------------------------------------------------*/
/*- CLEARFIX --- * I prefer not to touch this code, I don't recommend you do so either, it works... so don't fix whats working ;) * -*/
/*-----------------------------------------------------------------------------------------------------------------------------------*/
/* http://sonspring.com/journal/clearing-floats */
html body * span.clear,
html body * div.clear,
html body * li.clear,
html body * dd.clear
{background: none; border: 0; clear: both; display: block; float: none; font-size: 0; list-style: none;	margin: 0; padding: 0; overflow: hidden; visibility: hidden; width: 0; height: 0;}

/* http://www.positioniseverything.net/easyclearing.html */
.clearfix:after{clear: both; content: '.'; display: block; visibility: hidden; height: 0;}
.clearfix{display: inline-block;}
* html .clearfix{height: 1%;}
.clearfix{display: block;}

